<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partialCached "preloader.html" . -}}
	<section>
		<div class="container-fluid">
			<div class="row justify-content-around">
				<div class="col-md-5 col-lg-4 col-xl-3">
					{{ partialCached "sidebar.html" . }}
				</div>
				<div class="col-md-7 col-xl-8 position-relative">
					{{- block "main" . }}{{- end }}
					<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/728384/t/0"></script>
				</div>
			</div>
		</div>
	</section>
	{{- partialCached "footer.html" . -}}
</body>

</html>