{{ define "main" }}

<div class="pr-lg-5 pr-4 py-5">
  <div class="row">
    {{ range .Data.Pages }}
    <div class="col-sm-6 col-xl-4 mb-4">
      <div class="card">
        {{if .Params.Image}}<img data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}"
          class="card-img-top lozad">{{ end }}
        <div class="card-body">
          <h4 class="mb-3">{{ .Title }}</h4>
          <a href="{{.Params.book_link | safeURL}}" class="btn btn-primary">buy now</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}